extends _layout.pug

block vars
  - var title = 'Henrike Legner – Galerie'
  - var mainClass = 'wide'

block content
  h1 Galerie

  .tabs
    a.active(href="#gaensemagt") Die Gänsemagd
    a(href="#ariodante") Ariodante
    a(href="#operette") Operetten Soiree
    a(href="#poppea") L’Incoronazione di Poppea
    a(href="#general") Weiteres

  .tab.active#gaensemagt
    .row
      for img in ['gans-11', 'gans-9', 'gans-1', 'gans-2', 'gans-5', 'gans-4', 'gans-10', 'gans-8']
        .grow: img(src=`./gallery/${img}.jpg`)

  .tab#ariodante
    .row
      for img in ['ariodante-1', 'ariodante-2', 'ariodante-3']
        .grow: img(src=`./gallery/${img}.jpg`)

  .tab#operette
    .row
      for img in ['operette-1', 'operette-2', 'operette-3']
        .grow: img(src=`./gallery/${img}.jpg`)

  .tab#poppea
    .row
      for img in ['poppea-1', 'poppea-2', 'poppea-3', 'poppea-4']
        .grow: img(src=`./gallery/${img}.jpg`)

  .tab#general
    .row
      //- 'green-3', 'green-4', 'dark-1', 'dark-2'
      for img in ['ascona-1', 'ascona-2', 'henrike-1', 'henrike-2', 'henrike-5', 'henrike-6', 'munich-1', 'munich-2']
        .grow: img(src=`./gallery/${img}.jpg`)
      .grow(style="width: 660px"): img(src="./gallery/eye-1.jpg")
      //- .grow(style="width: 660px"): img(src="./gallery/laurea.jpg")
      //- .grow: img(src="./gallery/black-1.jpg")
      //- .grow: img(src="./gallery/black-2.jpg")
      .grow: img(src="./gallery/ballet.jpg")
      .grow: img(src="./gallery/dance-2.jpg")
